<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  	<div class="container">
  		<div class="row-fluid">
  			<div class="span8 offset2">
  		    <h1><a href="./">Search for restaurants around you.</a></h1>
  				<form method="post" action="/search">
  				  <p>
              <img src="../public/img/search.svg" class="search-icon " />
  				    <input type="text" name="address" placeholder="ex. 333 W. Hubbard, Chicago" id="search-box" class="span11" autofocus="autofocus" />
  				  </p>
  				</form>
  				<%- body -%>
  			</div>
  		</div>
  	</div>
  </body>
</html>
